.activebox{
    position: relative;
    background: url(../../assets/img/main-img.jpg) no-repeat center/cover;
    z-index: 0;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $cl-main;
        opacity: 0.8;
        z-index: -1;
    }
}

.main-content{
    padding: 130px 0 120px;

    @media (max-width:1200px){
        padding: 158px 0 126px;
    }

    @media (max-width:768px){
        padding: 50px 0 52px;
    }

    &__title{
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;

        @media (max-width:1200px) {
            font-size: 48px;
            line-height: 56px;
        }

        @media (max-width:768px){
            font-size: 36px;
            line-height: 42px;
        }
    }

    &__description{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 31.5px;

        @media (max-width:1200px){
            font-size: 18px;
            line-height: 21px;
            margin-top: 62px;
        }

        @media (max-width:768px){
            font-size: 14px;
            line-height: 16px;
            margin-top: 33px;
        }
    }

    &__btn{
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        margin-top: 82px;
        text-transform: uppercase;

        @media (max-width:1200px){
            margin-top: 91.5px;
        }

        @media (max-width:768px){
            margin-top: 49px;
        }

        a{
            display: block;
            margin: 0 auto;
            color: #FFFFFF;
            width: 370px;
            padding: 26px 0;
            background: $cl-btn;
            text-align: center;
            transition: 0.3s;

            @media (max-width:1200px){
                width: 314px;
            }

            @media (max-width:768px){
                width: 100%;
                padding: 15px 0;
            }

            &:hover{
                background: #E71414;
                transition: 0.3s;
            }

            &:active{
                box-shadow: 4px 4px 30px #FF4343;
                background: $cl-btn;
            }
        }
    }
}